services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      REDIS_DB: "0"
      WEATHER_TTL: 600

    depends_on:
      - redis

  redis:
    container_name: redis
    image: redis:7-alpine
    ports:
      - "6379:6379"
